*{
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: boarder-box;
  background-color: #8fa277;
 

}



.nav-bar {
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  box-sizing: border-box;
  border-radius: 10%;
  
  


}
.link1{
 color: #ecb982;
 

 
}
.link2{
  color: #ecb982;

 }
 .link3{
  color: #ecb982;

 }
 .link4{
  color: #ecb982;

 }
 .link1:hover{
  color: #1F4976;

}
.link2:hover{
  color: #1F4976;

}
.link3:hover{
  color: #1F4976;

}
.link4:hover{
  color: #1F4976;

}
.welcome-image{
  height: 60vh;
  width: 100vw;
  border: black solid;
}
#Welcome-page-container{
  color: white;
  text-align: center;
  padding: 10%;
  
}
#cactus{
 height: 20vh;
 width: 15vw; 
 
}
button{
  padding: 10px 20px;
  background-color:white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition-delay: width 2s;
}
button:hover{
  background-color: #ecb982;
}